@import url('https://api.fonts.coollabs.io/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
@import url("https://fonts.cdnfonts.com/css/asciid");

:root {
  --font-family: 'JetBrains Mono', monospace;
  --bg: #1E1E2E;
  --d-bg: #171724;
  --main-col: #A6E3A1;
  --header-font: 'asciid';
  --default-color: #A6ADC8;
  --d-d-color: #72778a;
}

a {
  color: var(--main-col);
}

.app {
  display: flex;
  background-color: var(--bg);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
}

.middle-frame {
  display: flex;
  width: 1080px;
  height: 95vh;
  justify-content: center;
  align-items: center;
}

/******* Grid Layout */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  width: 100%;
  height: 100%;
  color: var(--default-color);
}

.header-small {
  display: none;
}


.header-0 {
  display: flex;
  position: relative;
  grid-area: 1 / 1 / 2 / 4;
  justify-content: center;
  align-items: center;
  font-family: var(--header-font);
  color: var(--main-col);
  font-size: 6rem;
}



.header-0::before {
  font-size: 1rem;
  position: absolute;
  font-family: var(--font-family);
  margin: -10px 4px;
  padding: 0 3px;
  background-color: var(--bg);
  color: var(--default-color);
  z-index: 9;
  top: 0;
  left: 0;
  transition: 0.15s all ease-in-out;
}

.left-1::before, .left-2::before, .middle-1::before, .right-1::before, .right-2::before {
  font-size: 1rem;
  position: absolute;
  font-family: var(--font-family);
  margin: -10px 4px ;
  padding: 0 3px ;
  background-color: var(--bg) ;
  color: var(--default-color) ;
  z-index: 9;
  transition: 0.15s all ease-in-out;
}

.header-0:hover, .left-1:hover, .left-2:hover, .middle-1:hover, .right-1:hover, .right-2:hover {
  border: 1px var(--main-col) solid;
}

.header-0:hover::before, .left-1:hover::before, .left-2:hover::before, .middle-1:hover::before, .right-1:hover::before, .right-2:hover::before {
  color: var(--main-col);
}

.header-0::before { content: "header" }
.left-1::before { content: "status" }
.left-2::before { content: "songs" }
.middle-1::before { content: "about" }
.right-1::before { content: "toybox" }
.right-2::before { content: "msg" }

/* All Sections*/
.left-1, .left-2, .middle-1, .right-1, .right-2, .header-0 {
  transition: 0.15s all ease-in-out;
  border: 1px solid var(--default-color);
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  overflow: -moz-scrollbars-none;
}

.header-0::-webkit-scrollbar, .left-1::-webkit-scrollbar, .left-2::-webkit-scrollbar, .middle-1::-webkit-scrollbar, .right-1::-webkit-scrollbar, .right-2::-webkit-scrollbar {
  display: none;
}


.l1-contents, .l2-contents, .m1-contents, .r1-contents, .r2-contents {
  margin: 12px;
  width: 100%;
  height: 100%;
}

.r2-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94%;
}

.left-1 {
  display: flex;
  grid-area: 2 / 1 / 4 / 2;
  overflow: hidden;
}

.left-2 {
  display: flex;
  grid-area: 4 / 1 / 5 / 2;
}

.middle-1 {
  display: flex;
  grid-area: 2 / 2 / 5 / 3;
  overflow-y: scroll;
}

.right-1 {
  display: flex;
  grid-area: 2 / 3 / 3 / 4;
}

.right-2 {
  display: flex;
  grid-area: 3 / 3 / 5 / 4;
}

/* Statusbox */

.status-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 4px;
  max-width: 100%;
  max-height: 93%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.status-box::-webkit-scrollbar {
  display: none;
}

.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--d-bg);
  width: 100%;
}

.s-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px;
  width: 100%;
}

/* StatusBox - Author */

.s-author {
  display: flex;
  flex-direction: row;
  margin-left: 8px;
  gap: 8px;
}

.s-author-pfp {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--bg);
}

.pfp {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.s-author-username {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.s-author-display {
  font-size: 1rem;
}

.s-author-handle {
  font-size: 0.7rem;
  color: var(--d-d-color);
}

.s-date {
  margin-right: 8px;
  font-size: 0.7rem;
  color: var(--d-d-color);
}

/* StatusBox - Content */

.s-content {
  display: flex;
  width: 100%;
  margin-left: 8px;
  margin-bottom: 4px;
  font-size: 0.8rem;
}

.s-content-box {
  margin: 8px;
}

.s-buttons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.favorite {
  color: var(--default-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.s-button-set1 {
  display: flex;
  width: 50%;
  flex-direction: row;
  gap: 8px;
  margin: 8px;
}

.s-buttons-replies {
  margin: 8px;
  color: var(--d-d-color);
  font-size: 0.7rem;
}

/* MP3 Player */

.player {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.player-info {
  display: flex;
  flex-direction: row;
  height: 50%;
}

.pi-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33%;
}

.pi-aa {
  object-fit: cover;
  width: 78px;
  height: 78px;
  border-radius: 4px;
}

.pi-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.pi-title {
  font-size: 1rem;
}

.pi-artist {
  font-size: 0.7rem;
  color: var(--d-d-color);
}

/* Controls */

.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
}
.pc-time {
  display: flex;
  justify-content: center;
  height: 30%;
}

.pct-current {
  color: var(--d-d-color);
  font-size: 0.8rem;
}

.pc-bar-container {
  display: flex;
  width: 80%;
  height: 15%;
}

.pc-bar {
  width: 100%;
}

/* Custom Input Bar */

.pc-bar-container input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

.pc-bar-container input[type="range"]:focus {
  outline: none;
}

.pc-bar-container input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--d-bg);
  border-radius: 0rem;
  height: 8px;
}

.pc-bar-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 0px; /* Centers thumb on the track */
  background-color: var(--main-col);
  border-radius: 0rem;
  height: 8px;
  width: 8px;
}

.pc-bar-container input[type="range"]:focus::-webkit-slider-thumb {
  outline: 1px solid var(--main-col);
  outline-offset: 0.125rem;
}

.pccv-bar-container input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 65%;
}

.pccv-bar-container input[type="range"]:focus {
  outline: none;
}

.pccv-bar-container input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--d-bg);
  border-radius: 0rem;
  height: 8px;
}

.pccv-bar-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 0px; /* Centers thumb on the track */
  background-color: var(--main-col);
  border-radius: 0rem;
  height: 8px;
  width: 8px;
}

.pccv-bar-container input[type="range"]:focus::-webkit-slider-thumb {
  outline: 1px solid var(--main-col);
  outline-offset: 0.125rem;
}

/* Control buttons */

.pc-controller {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 55%;
}

.pcc-song {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.pccs-prev, .pccs-play, .pccs-next {
  background: transparent;
  border: none;
  color: var(--default-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pccs-prev:hover, .pccs-play:hover, .pccs-next:hover {
  color: var(--main-col);
}

.pcc-volume {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: flex;
}

.pccv-mute {
  background: transparent;
  border: none;
  color: var(--default-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 20%;
}

.pccv-bar-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.cbox {
  border: none;
  width: 100%;
  height: 100%;
}

.toybox {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  height: 90%;
  width: 100%;
}

.toybox-msg {
  margin: 8px;
}

.toybox-msg:hover {
  background-color: #6d6d6d79;
  cursor: crosshair;
}

.toybox:hover {
  color: var(--main-col);
}

@media screen and (max-width: 920px) {

  .header-big {
    display: none;
  }

  .header-small {
    display: contents;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-0 {
    width: 90%;
    height: 20%;
  }

  .middle-1 {
    width: 90%;
    height: 80%;
  }

  .left-1 {
    display: none;
  }

  .left-2 {
    display: none;
  }

  .right-1 {
    display: none;
  }

  .right-2 {
    display: none;
  }
}


